@import "variables.scss";

.products{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.products__item{
    width: 50%;  
   
    @include media(l){
        width: 50%;  
        &:not(:nth-child(2n)){
            border-right: 1px solid black;
        }
        &:not(:nth-last-child(-n+2)){
            border-bottom: 1px solid black;
        }
        z-index: 1;
    }

    @include media(xl){
        width: (100% / 3);
        &:not(:nth-child(2n)),&:not(:nth-last-child(-n+2)){
            border: none;
        }
        &:not(:nth-child(3n)){
            border-right: 1px solid transparentize($color-primary,0.1);
        }
        &:not(:nth-last-child(-n+3)){
            border-bottom: 1px solid black;
        }
    }
}
.item__name
{
    padding: 6% 0 0 11%;
    font-size: rem(16);
}
.item__price
{
    padding: 2% 76% 0 11%; 
    color: blue;
    font-size: rem(12);
}
