@import url('https://fonts.googleapis.com/css?family=Lora:400,400i,700&subset=latin-ext'); //Lora - serif, regular, regular italic and bold
@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap'); //Oswald - sans-serif, regular

$font-sans-serif: 'Oswald',Verdana, sans-serif;
$font-serif: 'Lora',Georgia, serif;
$font-monospace: monospace, monospace;


//-----z-indexes--
$z-indexes: (
menu: 1000,
menu-background:10,
menu-container: 20,
menu-container-content:10,

header: 500,
header-counter: 50,

main-header: 10,
main-container: 20
);

$color-primary: $material-color-grey-900;
$color-primary-light: #848484;
$color-primary-lighter: #f8f8f8;

$color-secondary: $material-color-white;
$color-secondary-darker: #f0f0f0;

$color-terciary: #3853d8; 
$color-terciary-lighter: #415ce1;

$color-quaternary: #3d9ff6;