//-----z-indexes--
$z-indexes: (
menu: 1000,
menu-background:10,
menu-container: 20,
menu-container-content:10,
header: 500,
header-counter: 50
);

$color-primary: $material-color-grey-900;
$color-secondary: $material-color-white;
$color-terciary: #3853d8; 
$color-terciary-lighter: #415ce1;
$color-quaternary: #3d9ff6;