@import "variables.scss";


//main sections


.shipping__content{
    display: flex;
    flex-direction: row;
}


//sign in section (left)


.shipping__section{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: rem(420);

    &:not(:last-child){
        border-right: rem(2) solid $shipping-borders-color;
    }
}

.shipping__left{
    align-content: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    background-color: $color-secondary;

    &--title{
        align-content: center;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        color: black;
        font-size: rem(20);
    }

    &--signinInfo{
        min-width: 33.333333%;
        flex-grow: 1;
        display: flex;
        flex-direction: column;

        &--email{
            align-content: center;
            align-items: center;
            justify-content: center;
            display: flex;
            height: rem(60);
            border-top-left-radius: rem(10);
            border-top-right-radius: rem(10);
            border: rem(2) solid $shipping-borders-color;
            border-bottom: none;
        }

        &--password{
            align-content: center;
            align-items: center;
            justify-content: center;
            display: flex;
            height: rem(60);
            border: rem(2) solid $shipping-borders-color;
            border-bottom: none;
        }

        &--button{
            align-content: center;
            align-items: center;
            justify-content: center;
            display: flex;
            height: rem(60);
            border: rem(2) solid $shipping-borders-color;
            border-bottom-left-radius: rem(10);
            border-bottom-right-radius: rem(10);
            transition: $box-transition-time;
            
            &:hover{
                background-color: $color-terciary;
                color: $color-secondary;
                border: rem(2) solid $color-terciary;
            }
        }
    }

    &--bottomText{
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        color: $color-terciary;
        font-size: rem(15);
        margin-top: rem(-80);
    }
}


//form section (right)


.shipping__right{
    align-content: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    background-color: $color-secondary;

    &--title{
        align-content: center;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        color: black;
        font-size: rem(20);
        flex-wrap: wrap;
    }

    &--form{
        min-width: 66.666666%;
        flex-grow: 1;
        display: flex;
        flex-direction: column;

        &--top{
            align-content: center;
            align-items: center;
            justify-content: center;
            display: flex;
            width: 100%;
            flex-direction: row;
            height: rem(60);
            border-bottom: none;

            &--left{
                width: 100%;
                border-top-left-radius: rem(10);
                align-content: center;
                align-items: center;
                justify-content: center;
                display: flex;
                flex-direction: row;
                height: rem(60);
                border: rem(2) solid $shipping-borders-color;
                border-bottom: none;
            }

            &--right{
                width: 100%;
                border-top-right-radius: rem(10);
                align-content: center;
                align-items: center;
                justify-content: center;
                display: flex;
                flex-direction: row;
                height: rem(60);
                border: rem(2) solid $shipping-borders-color;
                border-bottom: none;
                border-left: none;
            }
        }

        &--middle{
            flex-wrap: wrap;
            flex-direction: row;
            display: flex;
            height: rem(60);
            border: rem(2) solid $shipping-borders-color;
            border-bottom: none;   
        }

        &--bottom{
            align-content: center;
            align-items: center;
            justify-content: center;
            display: flex;
            height: rem(60);
            border: rem(2) solid $shipping-borders-color;
            border-bottom-left-radius: rem(10);
            border-bottom-right-radius: rem(10);
        }
    }
}



//input text style


input[type=signinInfo] {
    height: 90%;
    width: 90%;
    border: none;
    color: lightgrey;
    outline: none;
  }


