$header-heights: (
xl: 70,
s: 50
);

$header-background-color: $color-terciary;
$header-border-color: $color-terciary-lighter;
$header-border-width: 2;
$header-shadow-depth: 4;

$box-transition-time: 500ms;

$shipping-borders-color: lightgrey;
