@import "variables.scss";

.cart{
    position: absolute;
    top: 0;
    left: 0;
    z-index: z-index(header);
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: $color-secondary;
    @include linear-interpolation-chain(height, $header-heights);

    color: grey;
    font-style: normal;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: rem(0.3);
    font-family: $font-sans-serif;
    text-align: center;
    line-height: 450%;
}

.cart__button{
    align-items: center;
    align-content: center;
    justify-content: center;
    position: relative;
    height: 100%;
    display: block;
    flex-grow: 1;
    flex-direction: row;
    cursor: pointer;
    background-color: $color-secondary;
    border-bottom: rem($header-border-width) solid lightgray;
    transition: $box-transition-time;

    &:hover{
        background-color: $color-terciary; 
        color: $heading-color;
        transition: $box-transition-time;
        border-bottom: rem($header-border-width) solid $color-terciary;     
    }
}

.cart__items{
    margin-top: rem(70);
    position: absolute;
    top: 0;
    left:0;
    display: flex;
    flex-direction: column;
    border-bottom: rem($header-border-width) solid lightgray;
    height: rem(140);
    width: 100%;
}

.cart__total{
    margin-top: rem(210);
    position: absolute;
    top: 0;
    left:0;
    display: flex;
    flex-direction: column;
    border-bottom: rem($header-border-width) solid lightgray;
    height: rem(140);
    width: 100%;
}

