@import "variables.scss";

//top part
.cart{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: $color-secondary;
}

.cart__breadcrumbs{
    width: 100%;
    height: rem(70);
    display: flex;

}

.cart__breadcrumb{
    position: relative;
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    height: 100%;
    cursor: pointer;
    background-color: $color-secondary;
    transition: $box-transition-time;
    text-decoration: none;
    border-bottom: rem(2) solid $cart-breadcrumb-border-color;
    
    &:not(:last-child){
        border-right: rem(2) solid $cart-breadcrumb-border-color;
    }

    &:not(.cart__breadcrumb--disabled):hover,&--active{
        color: $cart-breadcrumb-active-color;
        background-color: $color-terciary; 
    }

    &--disabled{
        cursor: initial;
        color: $cart-breadcrumb-disabled-color;
        background-color: $cart-breadcrumb-disabled-background-color;
    }
}



//middle part whole


.cart__list{
    display: flex;
    flex-direction: column;
}


//middle part products


.cart__item{
    display: flex;
    flex-direction: row;
    border-bottom: rem(2) solid $cart-itembox-border-color;
    
    &--picture{
        display: flex;
        height: $itembox-height;
        flex-grow: 2;
        align-items: center;
        align-content: center;
        justify-content: center;
    }

    &--itemDescription{
        display: flex;
        flex-direction: column;
        height: $itembox-height;
        flex-grow: 2;
        align-items: center;
        align-content: center;
        justify-content: center;

        &--productName{
            display: flex;
            flex-direction: row;
            flex-grow: 1;
            align-items: center;
            align-content: center;
            justify-content: left;
            color: black;
            padding-top: 50%;
        }

        &--brand{
            display: flex;
            flex-direction: row;
            flex-grow: 1;
            align-items: center;
            align-content: center;
            justify-content: left;
            color: lightgray;
            padding-bottom: 50%;
        }
    }

    &--defaultPrice{
        align-items: center;
        align-content: center;
        justify-content: center;
        display: flex;
        height: $itembox-height;
        flex-grow: 1;
        color: lightgrey;
    }

    &--quantity{
        align-items: center;
        align-content: center;
        justify-content: center;
        display: flex;
        height: $itembox-height;
        flex-grow: 1;
        color: lightgrey;

        &--insideBox{
            position: relative;
            display: flex;
            border-radius: rem(50);
            align-items: center;
            align-content: center;
            justify-content: space-evenly;
            border: rem(2) solid $cart-itembox-border-color;
            height: rem(50);
            width: rem(120);
            background-color: $color-secondary;
        }
    }

    &--modifiedPrice{
        align-items: center;
        align-content: center;
        justify-content: left;
        display: flex;
        height: $itembox-height;
        flex-grow: 1;
        color: $color-terciary;
        padding-left: 10%;    
    }

    &--storno{
        align-items: center;
        align-content: center;
        justify-content: left;
        display: flex;
        height: $itembox-height;
        flex-grow: 1;
    }
}


//middle part total

.cart__itemSum{
    display: flex;
    flex-direction: row;
    height: $itembox-height;
    border-bottom: rem(2) solid $cart-itembox-border-color;

    &--text{
        align-items: center;
        align-content: center;
        justify-content: center;
        display: flex;
        height: $itembox-height;
        flex-grow: 3.1;  
    }
    
    &--valueLabel{
        align-items: center;
        align-content: center;
        justify-content: center;
        display: flex;
        height: $itembox-height;
        flex-grow: 0.9;
        color: black;
    }

    &--valueSum{
        align-items: center;
        align-content: center;
        justify-content: left;
        display: flex;
        height: $itembox-height;
        flex-grow: 1;
        color: $color-terciary;
    }

    &--refresh{
        align-items: center;
        align-content: center;
        justify-content: left;
        display: flex;
        height: $itembox-height;
        flex-grow: 1;
    }
}


//bottom part

.cart__bottom{
    position: relative; 
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: $color-secondary;
    height: rem(70);
    align-content: center;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: $box-transition-time;
    
    &:hover{
        background-color: $color-terciary;
        color: $color-secondary;
    }
}


//buttons


.cart__styled-button{
    color: grey;
    outline: none;
    border-radius: 100%;
    height: rem(30);
    width: rem(30);
    background: none;
    cursor: pointer;
}

.cart__item-variable{
    outline: none;
    border: none;
    border-radius: 100%;
    width: rem(20);
    padding: 2%;
    background: none;
}

.cart__cancel-button{
    color: grey;
    outline: none;
    border-radius: 100%;
    height: rem(50);
    width: rem(50);
    background: none;
    cursor: pointer;
}



