$cart-breadcrumb-border-color: $color-secondary-darker;

$cart-breadcrumb-active-color: $color-secondary;

$cart-breadcrumb-disabled-color: $color-primary-light;
$cart-breadcrumb-disabled-background-color: $color-primary-lighter;

$cart-itembox-border-color: lightgrey;


$box-transition-time: 500ms;
$itembox-height: rem(140);
