$cart-breadcrumb-border-color: $color-secondary-darker;

$cart-breadcrumb-active-color: $color-secondary;

$cart-breadcrumb-disabled-color: $color-primary-light;
$cart-breadcrumb-disabled-background-color: $color-primary-lighter;


$box-transition-time: 500ms;
