@import "variables.scss";

.header{
    z-index: z-index(header);
    display: flex;
    width: 100%;
    @include linear-interpolation-chain(height, $header-heights);
    background-color: $header-background-color;
    border-bottom: rem(2) solid $header-border-color;
    @include material-box-shadow($header-shadow-depth);
}

.header__button{
    position: relative;
    height: 100%;
    cursor: pointer;
    &:not(:last-child){
        border-right: rem(2) solid $header-border-color;    
    }
    @at-root .header__middle + .header__button{
        border-left: rem(2) solid $header-border-color;    
    }
}
.header__middle{
    height: 100%;
    flex-grow: 1;
}